celery==4.4.1
Django==1.11.16
django-cors-headers==3.2.1
django-dynamic-fixture==3.0.3
django-filter==2.2.0
django-templated-mail==1.1.1
djangorestframework==3.11.0
html2text==2020.1.16
httpie==2.0.0
kombu==4.6.8
Pillow==7.0.0
psycopg2==2.8.4
