<html>
<body style="padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: url(http://media.giphy.com/media/Jrd9E2kuPuOYM/giphy.gif) 50%;
  font-family: monaco, monospace;
  background-size: cover;">
<h1 style="color: white;
  font-size: 30px">{{ admin_name }} has invited you to join {{organization_name }}'s hardware inventory.</h1><br>
<a href="http://localhost:8081/#!/signup/{{invite_id}}" class="button"><button style="color: white;
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: seagreen;
  cursor: pointer;">JOIN NOW</button></a>
</body>
</html>