<html>
<body style="padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: url(http://media.giphy.com/media/Jrd9E2kuPuOYM/giphy.gif) 50%;
  font-family: monaco, monospace;
  background-size: cover;">
<h1 style="color: white;">{{first_name}} has approved your request for {{quantity}} {{item_group_name}}.</h1><br>
<div style="padding: 64px;">
    <div align="left">
    <h3 style="color: white;">Approved By:  {{full_name}} ({{role}})</h3>
    <h3 style="color: white;">Contact:  {{email}}</h3>
    <h3 style="color: white;">Organization:  {{organization_name}}</h3>
</div>
</div>
</body>
</html>