<html>
<body style="padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background: url(http://media.giphy.com/media/Jrd9E2kuPuOYM/giphy.gif) 50%;
  font-family: monaco, monospace;
  background-size: cover;">
<h1 style="color: white;
  font-size: 30px">
    Hi! there!
</h1>
<h2 style="color: white;">
    We'd like to remind you that there are {{num_items}} items which have been APPROVED for more than 24hrs and you haven't ACKNOWLEDGED yet.
</h2>
<a href="http://127.0.0.1:8081/#!/dashboard?page=1&tab=4" class="button"><button style="color: white;
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: seagreen;
  cursor: pointer;">ACKNOWLEDGE NOW</button></a>
</body>
</html>